$dark-beer: #35090a;

@font-face {
  font-family: 'TiltPrismRegular';
  src: local('TiltPrismRegular'),
    url('../../font/TiltPrism/TiltPrism-Regular.ttf');
  font-weight: normal;
}

@media only screen and (max-width: 850px) {
  .header-text {
    font-size: 4em;
  }
}
@media only screen and (min-width: 851px) {
  .header-text {
    font-size: 5.5em;
  }
}

.custom- {
  &button {
    border: 2px solid !important;
    border-color: white !important;
  }
}

.custom-header {
  background-color: $dark-beer;
  font-family: 'TiltPrismRegular';
  height: 10em;
  padding-left: 2em;
  padding-right: 2em;
}
